body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.typeGreen {
    width: 100px;
    height: 100px;
    background: #003311;
    border: 3px solid black;
}
.typeAmber {
    width: 100px;
    height: 100px;
    background: #999900;
    border: 3px solid black;
}
.typeRed {
    width: 100px;
    height: 100px;
    background: #662200;
    border: 3px solid black;
}

.typeActiveGreen {
    width: 100px;
    height: 100px;
    background:  #99ff99;
    border: 3px solid black;
}
.typeActiveAmber {
    width: 100px;
    height: 100px;
    background:  #ffff99;
    border: 3px solid black;
}
.typeActiveRed {
    width: 100px;
    height: 100px;
    background: #ff8533;
    border: 3px solid black;
}
div.ex1 {
  width:100px;
  margin: auto;
  background-color: black;
}
